.formContainer {
  width: 350px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 1000;
  top: 0;
  color: black;
  right: 0;
  transform: scale(1);
  transition-duration: 2s;
  /* align-items: center; */
}

.formContainer .topCont {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.formContainer .topCont .cross {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.formContainer .topCont .heading {
  font-size: 1rem;
}

.formContainer .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.formContainer .inputs select {
  padding: 14px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
}

.formContainer .inputs input {
  padding: 15px 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 220px;
}

.formContainer .continueBtn {
  margin-top: 3rem;
  background-color: black;
  color: #fff;
  margin: 3rem 30px 0 30px;
  text-align: center;
  padding: 16px 0px;
  border-radius: 6px;
}
